/* CSS */
body { 
	font-family: 'sofia-pro',sans-serif;
	font-size: 18px; /* 16 */
	color: #88847f;
	line-height: 1.44; /* 26px ÷ 18 */
	margin:0; /* par defaut 8px */
}

.logo a{	
	background: url(img/logo-hardgraft.png) no-repeat;
	width: 77px;
	height: 50px;
	display: block;
	/* remplacement d'image */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Title */

.title{
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	font-weight: normal;
	line-height: 1.2;
	color: #2d2825;
}
.title--banner{
	/* bg--nav */
	position: relative;
	margin-bottom: 50px;
}
	.title--banner:after{
		content: "";
		display: block;
		width: 40px;
		height: 2px;
		background: url(img/bg-nav.png) repeat-x;
		position: absolute;
		left: 0;
		bottom: -25px;
	}

.title--section{
	text-align: center;
	/* todo ajouter le bord */
}
.title--small{
	font-size: 30px;
	text-align: center;
	/* todo ajouter le bord */
}
.title--quote{
	font-size: 30px;
	font-style: italic;
	color: #2e2926;
	color: rgba(46,41,38, .8);
	text-align: center;
}

.titlesans{
	font-family: 'sofia-pro',sans-serif;
	font-size: 24px;
	color: #2e2926;
	line-height: 1.2;
	/*text-decoration: none;*/
}
.titlesans--small{
	font-size:18px;
}
.titlesans--footer{
	font-size: 12px;
	color:#fff;
	text-transform: uppercase;
}

/* divers */

.p--light{
	color: #2d2825;
	/*font-weight: 300;*/
}

.hide{
	display: none;	
}

/* LIENS */

a{
	text-decoration: none;
	color: inherit;
}
.link {
	font-size: 12px;
	color: #2d2825;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.link--arrow {
	border-bottom: 1px solid #2d2825;
	padding: 8px 0;
}
.link--arrow:before { content: "> ";}

.link--more {
	border: 1px solid #2d2825;
	border-radius: 5px;
	padding: 19px 20px 20px 48px;
	background-image: url(img/seeallarrow.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

.link--arrow:visited{
	border-color: red;
}
.link--arrow:hover, .link--arrow:focus{
	color: #BADA55;
	border-color: #BADA55;
	outline: 0;
}
/*.link--arrow:active{
	color: red;
}*/

/* Style des sections */

.section{}
.section--banner{
	background:url(img/iphonecase-big.png) no-repeat right center,
			   url(img/bg-banner.png) #dedbd8;
}

.section--product{
	background:url(img/bg-glass.png) no-repeat left top,
			   url(img/bg-bag.png) no-repeat right bottom #FAF8F6;
}

.section--incarnation{
	background:url(img/bg-glass2.png) no-repeat left bottom,
			   url(img/bg-men.png) no-repeat right top;	
}

.incarnation{
	padding-top: 85px;
	background: url(img/icon-designer.png) no-repeat center top;
}
.incarnation--details{
	background-image: url(img/icon-details.png);
}
.incarnation--craft{
	background-image: url(img/icon-leather.png)
}

.section--footer{
	background: url(img/bg-footer.png) no-repeat 70% bottom #363433;
}

.credit{
	background-color: #1A1817;
	background-color: rgba(26,24,23,.4);
}

/* LAYOUT */

.container{
	width: 1200px;
	/*margin-left: auto;
	margin-right: auto;*/
	margin: 0 auto;
	position: relative;
}

.logo{
	position: absolute;
	/* top right bottom left */
	top: 0;
	left: 0;
	/* par rapport à la fenetre */
	/* un element parent comme point de reference */
	/* donner une position relative au parent */
}
.nav{
	float: right;
}
.section--banner{
	clear: both;
	padding: 160px 0 177px;
}

/* NAVIGATION */

.nav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav__el{
	float: left;
	margin-left: 40px;
}
.nav__el a{
	display: inline-block;

	/*
	DWM
	height: 100px;
	line-height: 100px;
	*/
	padding: 35px 0;

	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2d2825;
	/*text-decoration: none;*/

	background: url(img/bg-nav.png) repeat-x left 60px;
}
.nav__el--shop a{
	background: red;
	/* todo ajouter le style */
}

/* .nav__el a:visited{} pas dans la <nav> */
.nav__el a:hover, .nav__el a:focus{}
.nav__el a:active{}


.col--big{
	width: 580px;
}

.title--quote{
	width: 500px;
	margin:0 auto;
	position: relative;
}
	.title--quote:after{
		content: "“";
		font-size: 80px;
		color: #eae9e9;
		position: absolute;
		left: -30px;
		top: -30px;
	}
	.title--quote:before{
		content: "”";
		font-size: 80px;
		color: #eae9e9;
		position: absolute;
		right: 30px;
		top: 30px;
	}

.products{
	list-style: none;
	margin: 0;
	padding: 0;
}
.products__el{
	float: left;
	width: 374px;
	margin:0 39px 40px 0;
}

.products__el:first-child{}
.products__el:last-child{
	
}
.products__el:nth-child(3n+2){
	margin-right: 0;
}
/* 
n = 0,1,2,3,4,etc.
3n+2 = 2,5,8,11,14
 */
.products__el--big{
	width: 580px;
}

.products__info{
	background: #fff;
	padding: 29px 30px 33px 32px;
}
.products__img{
	display: block;
	/* changer les images! */
	max-width: 100%;
}



.clear{
	clear: both;
}

/* technique clearfix pour les floats */
/* ajouter sur le parent */
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}



















