/* CSS */
body { 
	font-family: 'sofia-pro',sans-serif;
	font-size: 18px; /* 16 */
	color: #88847f;
	line-height: 1.44; /* 26px ÷ 18 */
	margin:0; /* par defaut 8px */
}

.logo a{	
	background: url(img/logo-hardgraft.png) no-repeat;
	width: 77px;
	height: 50px;
	display: block;
	/* remplacement d'image */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Title */

.title{
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	font-weight: normal;
	line-height: 1.2;
	color: #2d2825;
}
.title--section{
	text-align: center;
	/* todo ajouter le bord */
}
.title--small{
	font-size: 30px;
	text-align: center;
	/* todo ajouter le bord */
}
.title--quote{
	font-size: 30px;
	font-style: italic;
	color: #2e2926;
	color: rgba(46,41,38, .8);
	text-align: center;
}

.titlesans{
	font-family: 'sofia-pro',sans-serif;
	font-size: 24px;
	color: #2e2926;
	line-height: 1.2;
	/*text-decoration: none;*/
}
.titlesans--small{
	font-size:18px;
}
.titlesans--footer{
	font-size: 12px;
	color:#fff;
	text-transform: uppercase;
}

/* divers */

.p--light{
	color: #2d2825;
	/*font-weight: 300;*/
}

.hide{
	display: none;	
}

/* LIENS */

a{
	text-decoration: none;
	color: inherit;
}
.link {
	font-size: 12px;
	color: #2d2825;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.link--arrow {
	border-bottom: 1px solid #2d2825;
	padding: 8px 0;
}
.link--arrow:before { content: "> ";}

.link--more {
	border: 1px solid #2d2825;
	border-radius: 5px;
	padding: 19px 20px 20px 48px;
	background-image: url(img/seeallarrow.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

.link--arrow:visited{
	border-color: red;
}
.link--arrow:hover, .link--arrow:focus{
	color: #BADA55;
	border-color: #BADA55;
	outline: 0;
}
/*.link--arrow:active{
	color: red;
}*/

/* Style des sections */

.section{}
.section--banner{
	background:url(img/iphonecase-big.png) no-repeat right center,
			   url(img/bg-banner.png) #dedbd8;
}

.section--product{
	background:url(img/bg-glass.png) no-repeat left top,
			   url(img/bg-bag.png) no-repeat right bottom #FAF8F6;
}

.section--incarnation{
	background:url(img/bg-glass2.png) no-repeat left bottom,
			   url(img/bg-men.png) no-repeat right top;	
}

.incarnation{
	padding-top: 85px;
	background: url(img/icon-designer.png) no-repeat center top;
}
.incarnation--details{
	background-image: url(img/icon-details.png);
}
.incarnation--craft{
	background-image: url(img/icon-leather.png)
}

.section--footer{
	background: url(img/bg-footer.png) no-repeat 70% bottom #363433;
}

.credit{
	background-color: #1A1817;
	background-color: rgba(26,24,23,.4);
}
