/* CSS */
body {
	color: #88847f;
	font-size: 18px;
	line-height: 1.44; /*26 รท 18*/
	font-family: 'sofia-pro', sans-serif;
}

/* Title */

.logo a{
	background: url(img/logo-hardgraft.png) no-repeat;
	width: 77px;
	height: 50px;
	display: block;
	/* remplacement d'image */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.title{
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	line-height: 1.2;
	color: #2d2825;
	font-weight: normal;
	/* todo border */
}
.title--section{
	text-align: center;
	/* todo border */
}
.title--small{
	font-size: 30px;
	text-align: center;
}
.title--quote{
	font-size: 30px;
	font-style: italic;
	color: #2e2926;
	color: rgba(46,41,38,.8);
	text-align: center;
}
.titlesans{
	font-family: 'sofia-pro', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	color: #2e2926; 
}
.titlesans--small{
	font-size: 18px;
}
.titlesans--footer{
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}


/* divers */
.hide{
	display: none;
}

#banner h2 {}
#quote h2{}
#quote blockquote{}
#mainproduct h2, #incarnation h2{}
#mainproduct h3 a{}

#incarnation h3{}
#mainfooter h2{}

/* lien */

a{
	text-decoration: none;
	color: inherit;	
}

.link {
	font-size: 12px;
	color: #2d2825;
	font-weight: bold;
	text-transform: uppercase;
	/*text-decoration: none;*/
}
.link--arrow {
	border-bottom: 1px solid #2d2825;
	padding: 8px 0;
}
.link--arrow:before { content: "> ";}

.link--more {
	border: 1px solid #2d2825;
	border-radius: 5px;
	padding: 19px 20px 20px 48px;
	background-image: url(img/seeallarrow.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}


#banner a{}
#banner a:before{}

.link:visited{
	border-color: #BADA55;
}
.link:hover, .link:focus{
	color: red;
	outline: 0;
}
.link:active{
	/**/
}

.btn{}

/* styles section */


.section{}
.section--banner{
	background:url(img/iphonecase-big.png) no-repeat right center,
			   url(img/bg-banner.png) #DEDBD8;
}
.section--product{
	background:url(img/bg-glass.png) no-repeat left top,
			   url(img/bg-bag.png) no-repeat right bottom #FAF8F6;
}
.section--incarnation{
	background:url(img/bg-glass2.png) no-repeat left bottom,
			   url(img/bg-men.png) no-repeat right top;
}
.incarnation {
	background:url(img/icon-designer.png) no-repeat center top;
	padding-top: 85px;
}
.incarnation--details{
	background-image:url(img/icon-details.png);
}
.incarnation--craft{
	background-image:url(img/icon-leather.png);
}
.section--footer{
	background:url(img/bg-footer.png) no-repeat 70% bottom #363433;
}



.credit{
	background-color: #1a1817;
	background-color: rgba(26,24,23,.4);
}

/* LAYOUT */

.logo{
	position: absolute;/* par rapport ร la fenetre */
	/* top, right, left ou bottom */
	top: 200px;
	right: 0;
}
















